[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs
Comment=GNU Emacs 
Exec=/usr/bin/emacs %F
Icon=emacs
Path=
Terminal=false
StartupNotify=false
