[Desktop Entry]
Version=1.0
Type=Application
Name=Gedit
Comment=Text Editor
Exec=gedit
Icon=accessories-text-editor
Path=
Terminal=false
StartupNotify=false
