[Desktop Entry]
Version=1.0
Type=Application
Name=GTKWave
Comment=Display simulation results
Exec=gtkwave %F
Icon=/opt/eda/share/icons/gtkwave_256x256x32.png
Path=/home/ciceda
Terminal=false
StartupNotify=true
