[Desktop Entry]
Version=1.0
Type=Application
Name=terminal
Comment=Configure Xfce Terminal
Exec=xterm -fg white -bg gray19
Icon=utilities-terminal
Path=/home/ciceda
Terminal=false
StartupNotify=true
